<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.edu.utar.colourgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ColourGame">
        <activity
            android:name=".gameover2"
            android:exported="false" />
        <activity
            android:name=".Bye"
            android:exported="false" />
        <activity
            android:name=".gameocer2"
            android:exported="false" />
        <activity
            android:name=".gameover"
            android:exported="false" />
        <activity
            android:name=".success"
            android:exported="false" />
        <activity
            android:name=".Level_5"
            android:exported="false" />
        <activity
            android:name=".Level_4"
            android:exported="false" />
        <activity
            android:name=".Level_3"
            android:exported="false" />
        <activity
            android:name=".Level_2"
            android:exported="false" />
        <activity
            android:name=".Level_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>